body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.small-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

header {
    background-color: #ff6347;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#menu {
    padding: 50px;
    text-align: center;
}

.menu-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
}

.menu-item img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
