body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6347;
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1, h2, h3 {
    font-size: 2em;
}

.button-small {
    padding: 10px 15px;
    font-size: 14px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.button-small:hover {
    background-color: darkred;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
}

/* Nota Styles */
.nota-section {
    padding: 10px 0;
    background-color: #ffffff;
}

.nota-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.nota-info strong {
    font-weight: bold;
}

hr {
    border: 1px solid #ddd;
}

/* Cart Styles */
#cart {
    padding: 50px;
    text-align: center;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table th, .menu-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.menu-table th {
    background-color: #ff6347;
    color: white;
}

.total-container {
    margin-top: 20px;
}

#qr-code {
    margin: 20px 0;
    text-align: center;
}
